langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_text_splitters
langchain_openai
langchain_ollama
chromadb
langchain_huggingface
sentence_transformers
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
langserve
sse_starlette
tf_keras
duckduckgo-search
youtube-transcript-api
validators
unstructured
pytube
numexpr
cassio
datasets
tiktoken
PyPDF2
gradio